<h2><%= @group.name  %> Group Ideas:</h2>

<% @group.ideas.each do |idea| %>
  <div class="idea">
  <h2> The idea is: </h2>
  <p class="idea-text">"<%= @group.name %> should...<%= idea.name %>"<p>
  <h4>Idea from:</p><%= idea.creator.name %></h4>
  <h4>Created at:</p><%= idea.created_at %></h4>
  
  <h2>Number of Votes:</h2><span class="vote_count"><%= idea.vote_count %></span>
  <form class="vote_button" action='/idea/<%= @group.id %>/<%= idea.id %>/vote' method="POST">
    <input type="submit" value="vote">
  </form>

  <%  if (@group.votes_needed - idea.vote_count) > 0 %> 
    <h2>Number of Votes Needed Until Response:</h2><span class="vote_count"><%= @group.votes_needed - idea.vote_count %></span>
  <% else %>
    <h2>This idea needs a response!</h2>
  <% end %>
  </div>
  <br>
<% end %>

