<h1><%= @group.name %></h1>

<h2>Group admin:</h2>
<a href="/user/profile/<%= @group.admin.id %>"><%= @group.admin.name %></a>

<h2>Users:</h2>
<% @group.users.each do |user| %>
  <a href="/user/profile/<%= user.id %>"><%= user.name %></a>
  <br>
<% end %>

<% if current_user.id == @group.admin.id %>
  <p>Give this code to invite users to your group:</p>
  <div class="code"><%= @group.group_code %></div> 

  <p>Remove a user from the group</p>

  <form action="/group/<%= @group.id  %>/remove_member" method="POST">
    <select name="user[id]">
    <% @group.users.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
    </select>
  <input type="submit" value="LOLNOPE">
  </form>

  <% if @new_group_code %>
    <p> Please note your group code has been updated. The old can no longer be used to join the group.</p>
  <% end %>

<% end %>

<h2>Group Ideas:</h2>
<a href="/group/<%= @group.id %>/ideas">Check out the ideas!</a>
