<h1><%= @group.name  %> Group's Ideas:</h1>

<% @group.ideas.each do |idea| %>
  <%= idea.name %>
  
  <%  if (@group.votes_needed - idea.vote_count) > 0 %> 
    <h2>This idea needs </p><%= @group.votes_needed - idea.vote_count %><h2> more ideas to get a response.
  <% else %>
    <h2>This idea needs a response!</h2>
  <% end %>
  
  <h2>Number of votes:</h2><%= idea.votes.count %>
  <form action='/idea/<%= @group.id %>/<%= idea.id %>/vote' method="POST">
    <input type="submit" value="vote">
  </form>
  <br>
<% end %>

