<h1> Hi <%= @user.name %>! </h1>

<p> Create a group: </p>

<form action='/group/create' method="POST">
  <input type="text" name="group[name]" placeholder="Enter your organization's name">
  <input type="submit" value="submit"> 
</form>

<p> Join a group: </p>
<form action='/group/add_member' method="POST">
  <input type="text" name="group[code]" placeholder="Enter a group id"> 
  <input type="submit" value="submit"> 
</form>

<p>Groups you own:</p>
<% current_user.admingroups.each do |admingroup| %>
  <a href="/group/<%= admingroup.id %>/home"><%= admingroup.name  %></a>
  <br>
<% end %>

<p>Groups you belong to:</p>
<% current_user.groups.each do |group| %>
  <a href="/group/<%= group.id %>/home"><%= group.name %></a>
<% end %>
